*{
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2;
    padding: 2;
    box-sizing: border-box;
}

.container{
   width: 34%;
   height: 40vh;
   background: url(bigSur.jpg) no-repeat top;
   background-position: contain;
   position: absolute;
   overflow: hidden;
}

.wrapperStyle{
    width: 353px;
    height: 570px;
    background-color: #f1f1f1;
    position: relative;
    top: 20%;
    left: 90%;
    right: 12%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 3px 20px rgba(0,0,0,0.5);
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-radius: 32px;
    transition: opacity 2s;
}

.titleBarStyle{
    width: 100%;
    height: 30px;
    display: flex;
    padding: 0 5px;
    margin-left: 2px;
    margin-top: 23px;
    margin-right: 54;
}

.appTitleStyle{
    width: 50%;
    display: flex;
    align-items: left;
    text-align: center;
}

.appName{
    padding: 0 10;
    margin: 0;
    font-size: 24px;
    color: #9b9b9b;
}

.circleStyle{
    width: 50%;
    display: inline block;
    justify-content: flex-end;
    align-items: right;
}

.circle1Style{
    width: 51px;
    height: 31px;
    margin: 0 3px 4px 5px;
    background-color: #fdbd30;
    border-radius: 100px;
}

.circle2Style{
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background-color: #36cc40;
    border-radius: 100px;
    cursor: pointer;
}
.corcle2Style:hover{
    background: red;
    color: white;
    opacity: 3px;
    cursor: pointer;
    font-size: 23px;
    
}

.circle3Style{
    width: 11px;
    height: 11px;
    margin: 0 5px;
    background-color: #fd5858;
    border-radius: 100px;
    cursor: pointer;
}

.displayStyle{
    width: 10%;
    height: 10px;
    padding: 30px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    caret-color: absolute;
    background-color: #e0e0e0;
    border: 2px;
}

.displayStyle:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 2px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 4; /* Firefox */
}

.btnAreaStyle{
    width: 40%;
}

.btnRow1{
    display: flex;
    justify-content: center;

}

.btnStyle{
    width: 80px;
    height: 60px;
    font-size: 16px;
    background-color: #292929;
    border: none;
    color: #fff;
    border-radius: 4px;
    margin: 3px 4px;
    cursor: pointer;
    font-weight: 320;
}
